In [6]:
my_list = []
my_list

[]

In [8]:
my_list = list()
my_list

[]

In [10]:
my_list = list([1,2,3,4,5])
my_list

[1, 2, 3, 4, 5]

In [7]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [11]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [13]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]
my_list3 = ["a", 1, "Python", 5]
my_list
my_list2
my_list3

['a', 1, 'Python', 5]

In [14]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]
my_list3 = ["a", 1, "Python", 5]
my_nested_list = [my_list, my_list2, my_list3]
print(my_nested_list)

[[1, 2, 3], ['a', 'b', 'c'], ['a', 1, 'Python', 5]]

In [15]:
combo_list = []
one_list = [4, 5]
combo_list.extend(one_list)
combo_list

[4, 5]

In [19]:
list1 = ["I am"]
list2 = ["abdul Hadi"]
list1.extend(list2)
list1

['I am', 'abdul Hadi']

In [20]:
my_list = [1, 2, 3]
my_list2 = ["a", "b", "c"]
combo_list = my_list + my_list2
combo_list

[1, 2, 3, 'a', 'b', 'c']

In [21]:
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list.sort()
alpha_list

[2, 23, 34, 67, 88, 100]

In [26]:
alpha_list = ['your', 'Am','i','friend']
alpha_list.sort()
alpha_list

['Am', 'friend', 'i', 'your']

In [27]:
alpha_list = ['your', 'am','I','friend']
alpha_list.sort()
alpha_list

['I', 'am', 'friend', 'your']

In [28]:
alpha_list = [34, 23, 67, 100, 88, 2]
sorted_list = alpha_list.sort()
sorted_list
print(sorted_list)

None

In [29]:
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list[0:3]

[34, 23, 67]

In [30]:
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list[1:4]

[23, 67, 100]

In [31]:
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list[3]

100

In [32]:
my_tuple=(1,2,3,4,5)
my_tuple[0:3]

(1, 2, 3)

In [35]:
my_tuple=(1,2,3,4,5)
my_tuple[3]

4

In [34]:
another_tuple=tuple()

In [38]:
my_tuple=(1,2,3,4,5)
my_tuple=tuple([3])

In [40]:
abc=tuple([1,2,3])
abc

(1, 2, 3)

In [42]:
abc_list=list(abc)
abc_list

[1, 2, 3]

In [43]:
my_dict = {"one":1, "two":2, "three":3}
my_dict

{'one': 1, 'two': 2, 'three': 3}

In [44]:
my_dict = {"name":"Sharfoo", "address":"123 Gulshan"}
my_dict["name"]

'Sharfoo'

In [46]:
"state" in my_dict
False

False

In [47]:
"name" in my_dict
True

True

In [48]:
my_dict = {"name":"Sharfoo", "address":"123 Gulshan"}
my_dict.keys()

dict_keys(['name', 'address'])

In [49]:
pakistan = {'quatta':'balochistan','lahore':'punjab','peshawar':'kpk','karachi':'sindh'}
pakistan

{'quatta': 'balochistan',
 'lahore': 'punjab',
 'peshawar': 'kpk',
 'karachi': 'sindh'}

In [50]:
pakistan = {'quatta':'balochistan','lahore':'punjab','peshawar':'kpk','karachi':'sindh'}
pakistan['lahore']

'punjab'

In [51]:
pakistan = {'quatta':'balochistan','lahore':'punjab','peshawar':'kpk','karachi':'sindh'}
pakistan['kpk']

KeyError: 'kpk'

In [52]:
pakistan = {'quatta':'balochistan','lahore':'punjab','peshawar':'kpk','karachi':'sindh'}
pakistan['peshawar']

'kpk'

In [54]:
pakistan = {'quatta':'balochistan','lahore':'punjab','peshawar':'kpk','karachi':'sindh'}
pakistan.keys()

dict_keys(['quatta', 'lahore', 'peshawar', 'karachi'])

In [58]:
"name" in my_dict # this is good

True

In [59]:
"name" in my_dict.keys()  # this works too, but is slower

True

In [60]:
"None" in my_dict.keys()

False

In [62]:
'[]' in my_dict.keys()

False

In [63]:
0 in my_dict.keys()

False

In [1]:
# string
"This is a string"

'This is a string'

In [2]:
"One of Python's strengths is its diverse and supportive community."

"One of Python's strengths is its diverse and supportive community."

In [3]:
'I told my friend, "Python is my favorite language!"'

'I told my friend, "Python is my favorite language!"'

In [4]:
"The language 'Python' is named after Monty Python, not the snake."

"The language 'Python' is named after Monty Python, not the snake."

In [5]:
'One of Python\'s strengths is its diverse and supportive community'

"One of Python's strengths is its diverse and supportive community"

In [6]:
my_string = "Welcome to Python!"
another_string = 'The bright red fox jumped the fence.'
a_long_string = '''This is a
multi-line string.
It covers more than one line'''
print(my_string)
print(another_string)
print(a_long_string)

Welcome to Python!
The bright red fox jumped the fence.
This is a
multi-line string.
It covers more than one line

In [7]:
my_string = "I'm a Python programmer!"
otherString = 'The word "python" usually refers to a snake'
tripleString = """Here's another way to embed "quotes" in a string"""
print(my_string)
print(otherString)
print(tripleString)

I'm a Python programmer!
The word "python" usually refers to a snake
Here's another way to embed "quotes" in a string

In [8]:
my_number = 123
my_string = str(my_number)

In [9]:
int('ABC')

ValueError: invalid literal for int() with base 10: 'ABC'

In [10]:
int(123)

123

In [15]:
my_string = "abc"
my_string[0] = "d"

TypeError: 'str' object does not support item assignment

In [12]:
my_string = "abc"
print(my_string[0])

a

In [16]:
string_one="sharfoo is a good"
string_two=" guy"
string_three = string_one + string_two
print(string_three)

sharfoo is a good guy

In [17]:
#Concatenation
string1 = 'he is'
string2 = 'my brother'
string = string1 + string2
print(string)

he ismy brother

In [18]:
my_string = "This is a string"
my_string.upper()

'THIS IS A STRING'

In [19]:
my_string = "This is a string"
my_string.lower()

'this is a string'

In [20]:
# all string command
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
help(my_string.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [22]:
type(my_string)

str

In [23]:
my_string = "My Country Pakistan"
my_string[0:0]

''

In [24]:
my_string = "My Country Pakistan"
my_string[0:-3]

'My Country Pakis'

In [25]:
my_string = "My Country Pakistan"
my_string[0:5]

'My Co'

In [26]:
my_string = "MyCountry Pakistan"
my_string[0:5]

'MyCou'

In [27]:
my_string = "My Country Pakistan"
my_string[3:10]

'Country'

In [28]:
string = "My Country Pakistan"
print(string[0])

M

In [29]:
string = 'i am abdul Hadi'
print(string[3])

m

In [32]:
my_string = "I like %s" % "Python"
my_string

'I like Python'

In [33]:
print('i am %s Hadi' % 'abdul')

i am abdul Hadi

In [34]:
var = "cookies"
newString = "I like %s" % var
newString

'I like cookies'

In [35]:
hello = "i am %s Hadi" % "abdul"
hello

'i am abdul Hadi'

In [36]:
var = "cookies"
another_string = "I like %s and %s" % ("Python", var)
another_string

'I like Python and cookies'

In [37]:
another_string = "I like %s and %s" % ("Python", 'cookies')
another_string

'I like Python and cookies'

In [38]:
my_string = "%i + %i = %i" % (1,2,3)
my_string

'1 + 2 = 3'

In [39]:
my_string = "%i * %i = %i" % (3,2,6)
my_string

'3 * 2 = 6'

In [40]:
float_string = "%f" % (1.23)
float_string

'1.230000'

In [41]:
float_string2 = "%.2f" % (1.23)
float_string2

'1.23'

In [42]:
string = "%.3f" % (6.4673)
string

'6.467'

In [43]:
print("%(lang)s is fun!" % {"lang":"Python"})

Python is fun!

In [44]:
hello = 'I am %(lang)s Hadi' % {'lang':'abdul'}
hello

'I am abdul Hadi'

In [45]:
print("%(value)s %(value)s %(value)s !" % {"value":"Sharfoo"})

Sharfoo Sharfoo Sharfoo !

In [46]:
print("%(x)i + %(y)i = %(z)i" % {"x":1, "y":2, "z":3})

1 + 2 = 3

In [47]:
"Python is as simple as {0}, {1}, {2}".format("a", "b", "c")

'Python is as simple as a, b, c'

In [48]:
'i am {1},{2}'.format('abdul','Hadi')

IndexError: tuple index out of range

In [49]:
xy = {"x":0, "y":10}
print("Graph a point at where x={x} and y={y}".format(**xy))

Graph a point at where x=0 and y=10

In [1]:
# If-else
if 2 > 1:
    print("This is a True statement!")

This is a True statement!

In [2]:
var1 = 1
var2 = 3
if var1 > var2:
    print("This is also True")

In [3]:
var1 = 1
var2 = 3
if var2 > var1:
    print("This is also True")

This is also True

In [4]:
var1 = 3
var2 = 5
if var1 > var2:
    print("This is also True")
else:
    print("That was False!")

That was False!

In [5]:
value = 8
if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

That's a great deal!

In [6]:
value = 16
if value < 10:
    print("That's a great deal!")
elif 10 <= value <= 20:
    print("I'd still pay that...")
else:
    print("Wow! That's too much!")

I'd still pay that...

In [7]:
x = 10
y = 20
if x < 10 or y > 15:
    print("This statement was True!")

This statement was True!

In [8]:
x = 10
y = 20
if x < 10 or y == 15:
    print("This statement was True!")
else:
    print("This statement was false")

This statement was false

In [9]:
x = 10
y = 10
if x == 10 and y == 10:
    print("This statement was True")
else:
    print("The statement was False!")

This statement was True

In [10]:
my_list = [1, 2, 3, 4]
x = 10
if x not in my_list:
    print("'x' is not in the list, so this is True!")

'x' is not in the list, so this is True!

In [11]:
my_list = [1, 2, 3, 4]
x = 3
if x not in my_list:
    print("'x' is not in the list, so this is True!")
else:
    print("'x' is in the list, so this is false!")

'x' is in the list, so this is false!

In [12]:
x = 10
if x != 11:
    print("x is not equal to 11!")

x is not equal to 11!

In [13]:
my_list = [1, 2, 3, 4]
x = 10
z = 11
if x not in my_list and z != 10:
    print("This is True!")

This is True!

In [14]:
empty_list = []
empty_tuple = ()
empty_string = ""
nothing = None

In [16]:
empty_list = []
empty_list

[]

In [17]:
empty_string = ""
empty_string

''

In [18]:
nothing = None
nothing

In [19]:
if empty_list == []:
    print("It's an empty list!")
if empty_tuple:
    print("It's not an empty tuple!")
if not empty_string:
    print("This is an empty string!")
if not nothing:
    print("Then it's nothing!")

It's an empty list!
This is an empty string!
Then it's nothing!

In [20]:
if empty_string == "":
    print("This is an empty string!")

This is an empty string!

In [21]:
if list == None:
    print('nothing in list')

In [22]:
empty_string = "something"
if empty_string == "":
    print("This is an empty string!")

In [23]:
empty_string = ""
if empty_string == "":
    print("This is an empty string!")

This is an empty string!

In [24]:
empty_string == nothing

False

In [25]:
empty_list == empty_string

False

In [26]:
empty_list == []

True

In [27]:
empty_list == 0

False

In [28]:
print("I have a \n new line in the middle")

I have a
 new line in the middle

In [29]:
print("I have a \t new line in the middle")

I have a 	 new line in the middle

In [30]:
print("This sentence is \ttabbed!")

This sentence is 	tabbed!

In [31]:
print("This is a backslash \\")

This is a backslash \

In [32]:
# for loop
range(10)

range(0, 10)

In [33]:
range(5,10)

range(5, 10)

In [34]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [35]:
range(5,10,1)

range(5, 10)

In [36]:
for number in range(5):
    print(number)

0
1
2
3
4

In [37]:
for number in [0,1,2,3,4]:
    print(number)

0
1
2
3
4

In [38]:
a_dict = {"one":1, "two":2, "three":3}
for key in a_dict:
    print(key)

one
two
three

In [39]:
a_dict = {1:"one", 2:"two", 3:"three"}
keys = a_dict.keys()
sorted(keys)
for key in keys:
    print(key)

1
2
3

In [40]:
for number in range(10):
    if number % 2 == 0:
        print(number)

0
2
4
6
8

In [41]:
list = 1,2,3,2,4,5,2,6,2
for num in list:
    if num == 2:
        print(num)

2
2
2
2

In [42]:
# while loop
i = 0
while i < 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

In [43]:
i = 0
while i < 10:
    print(i)
    if i == 5:
        break
    i += 1

0
1
2
3
4
5

In [ ]:
i=0
while i<10:
    if i==3:
        i+=1
        continue
        print(i)
        if i==5:
            break
        i+=1

In [54]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    if i==3:
        print("Items found!")
        break
else:
    print(i)
    print("Item not found!")

Items found!

In [5]:
# Function
def a_function():
    print("we just created a function!")

In [6]:
def Hadi_function():
    print("i am Abdul.Hadi")

In [1]:
def Hadi_Ahmad():
    print("i am Abdul.Hadi")

In [2]:
Hadi_Ahmad()

i am Abdul.Hadi

In [7]:
a_function()

we just created a function!

In [8]:
def empty_function():
    pass

In [9]:
def add(a,b):
    return a + b

In [11]:
add(2,3)

5

In [12]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [13]:
add(1,3,2)

TypeError: add() takes 2 positional arguments but 3 were given

In [14]:
add(a=1, b=3)

4

In [15]:
alfa = add(a=1, b=3)
print(alfa)

4

In [16]:
def keyword_function(a=1 , b=2):
    return a+b
keyword_function(b=4, a=5)

9

In [17]:
keyword_function()

3

In [21]:
def mixed_function(a, b=2, c=3):
    return a+b+c

In [25]:
mixed_function(a=5, b=1, c)

SyntaxError: positional argument follows keyword argument (<ipython-input-25-37adf3afe7cb>, line 1)

In [22]:
mixed_function(a=5, b=1, c=2)

8

In [23]:
mixed_function(5, b=1, c=2)

8

In [24]:
mixed_function(5,1,2)

8

In [26]:
mixed_function(5, b=1,2)

SyntaxError: positional argument follows keyword argument (<ipython-input-26-15f23dd5f5ec>, line 1)

In [27]:
mixed_function(5)

10

In [28]:
def many(*args, **kwargs):
    print(args)
    print(kwargs)

In [29]:
many(1,2,3, name="Ali" ,  job="Cyber Warrior")

(1, 2, 3)
{'name': 'Ali', 'job': 'Cyber Warrior'}

In [30]:
many(1,2,3)

(1, 2, 3)
{}

In [31]:
many(name="Ali" ,  job="Cyber Warrior")

()
{'name': 'Ali', 'job': 'Cyber Warrior'}

In [32]:
many(1,2,3, "Ali" ,"Cyber Warrior")

(1, 2, 3, 'Ali', 'Cyber Warrior')
{}

In [33]:
def function_a():
    a = 1
    b = 2
    return a+b
def function_b():
    c = 3
    return a+c
print(function_a())
print(function_b())

3

NameError: name 'a' is not defined

In [34]:
def function_a():
    global a
    a = 1
    b = 2
    return a+b
def function_b():
    c = 3
    return a+c
print(function_a())
print(function_b())

3
4

In [35]:
def z(x,y):
    return x*y
z(2,4)

8

In [36]:
z(2,3)

6

In [42]:
#class
x = "alnafi"
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
x.split()

['alnafi']

In [39]:
x.upper()

'ALNAFI'

In [40]:
class Vehicle(object):
    """docstring"""
    def __init__(self):
        """Constructor"""
        pass

In [41]:
class Vehicle:
    """docstring"""
    def __init__(self):
        """Constructor"""
        pass

In [43]:
# Comprehensive
for i in range(5):
    print(i)

0
1
2
3
4

In [44]:
x = [i for i in range(5)]
x

[0, 1, 2, 3, 4]

In [45]:
if [i for i in line if "SOME TERM" in i]:

SyntaxError: unexpected EOF while parsing (<ipython-input-45-1ccde138f432>, line 1)

In [46]:
x = ['1', '2', '3', '4', '5']
y = [int(i) for i in x]
y

[1, 2, 3, 4, 5]

In [48]:
myStrings = ['1', '2', '3', '4', '5']
myStrings = [s.strip() for s in myStrings]
myStrings

['1', '2', '3', '4', '5']

In [49]:
list = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in list for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
print( {i: str(i) for i in range(5)} )

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4'}

In [51]:
my_dict = {1:"dog", 2:"cat", 3:"horse"}
print( {value:key for key, value in my_dict.items()} )

{'dog': 1, 'cat': 2, 'horse': 3}

In [52]:
my_list = [1, 2, 2, 3, 4, 5, 5, 7, 8]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5, 7, 8}

In [53]:
my_list = [1, 2, 2, 3, 4, 5, 5, 7, 8]
my_set = {x for x in my_list}
my_set

{1, 2, 3, 4, 5, 7, 8}

In [54]:
x = ['1', '2', '3', '4', '5']
y = [i for i in x]
y

['1', '2', '3', '4', '5']

In [55]:
print( {i for i in range(5)} )

{0, 1, 2, 3, 4}

In [56]:
print( {i: str(i) for i in range(5)} )

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4'}

In [57]:
string = 'pakistan'
mylist = []
for letter in string:
    mylist.append(letter)
mylist

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [58]:
string = 'pakistan'
mylist = [letter for letter in string]
mylist

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [59]:
mylist=[x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [60]:
mylist=[sharfoo for sharfoo in 'word']
mylist

['w', 'o', 'r', 'd']

In [61]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
mylist=[x for x in 'Hadi']
mylist

['H', 'a', 'd', 'i']

In [63]:
print([i for i in range(5)])

[0, 1, 2, 3, 4]

In [64]:
# A-Exceptions Handling
1/0

ZeroDivisionError: division by zero

In [65]:
try:
    1/0
except ZeroDivisionError:
    print("You cannot divide by zero!")

You cannot divide by zero!

In [66]:
try:
    1/0
except:
    print("You cannot divide by zero!")

You cannot divide by zero!

In [67]:
my_dict = {"a":1, "b":2, "c":3}
value = my_dict["d"]

KeyError: 'd'

In [68]:
my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except KeyError:
    print("That key does not exist!")

That key does not exist!

In [69]:
my_list = [1, 2, 3, 4, 5]
my_list[6]

IndexError: list index out of range

In [70]:
my_list = [1, 2, 3, 4, 5]
try:
    my_list[6]
except IndexError:
    print("That index is not in the list!")

That index is not in the list!

In [71]:
my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except IndexError:
    print("This index does not exist!")
except KeyError:
    print("This key is not in the dictionary!")
except:
    print("Some other error occurred!")

This key is not in the dictionary!

In [72]:
try:
    value = my_dict["d"]
except (IndexError, KeyError):
    print("An IndexError or KeyError occurred!")

An IndexError or KeyError occurred!

In [73]:
my_dict = {"a":1, "b":2, "c":3}
try:
    value = my_dict["d"]
except KeyError:
    print("A KeyError occurred!")
finally:
    print("The finally statement has executed!")

A KeyError occurred!
The finally statement has executed!

In [74]:
dict = {"a":1, "b":2, "c":3}
try:
    value = dict["a"]
except KeyError:
    print("A KeyError occured!")
else:
    print("No error occured!")

No error occured!

In [75]:
dict = {"a":1, "b":2, "c":3}
try:
    value = dict["d"]
except KeyError:
    print("A KeyError occured!")
else:
    print("No error occured!")

A KeyError occured!

In [76]:
dict = {"a":1, "b":2, "c":3}
try:
    value = dict["a"]
except KeyError:
    print("A KeyError occured!")
else:
    print("No error occured!")
finally:
    print("The finally statement ran!")

No error occured!
The finally statement ran!

In [77]:
# import code
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [78]:
import math
math.sqrt(9)

3.0

In [79]:
import math

In [80]:
from math import sqrt

In [81]:
from math import sqrt, pi

In [82]:
pi

3.141592653589793

In [83]:
from math import sqrt
sqrt = 5
sqrt(16)

TypeError: 'int' object is not callable

In [84]:
from math import sqrt
sqrt(16)

4.0

In [85]:
from math import*

In [86]:
from math import*
sqrt = 5
sqrt(16)

TypeError: 'int' object is not callable

In [87]:
#files reading
x = open(r"F:\Al-Nafi\Python\abc.txt","r")

In [88]:
print(r"F:\Al-Nafi\Python\abc.txt","r")

F:\Al-Nafi\Python\abc.txt r

In [89]:
print("F:\Al-Nafi\Python\abc.txt","r")

F:\Al-Nafi\Pythonbc.txt r

In [90]:
x = open(r"F:\Al-Nafi\Python\abc.txt","r")
data = x.read()
print(data)
x.close()

Hello!

Zahid

Riaz

In [91]:
x = open(r"F:\Al-Nafi\Python\abc.txt","r")
data = x.readline()
print(data)
x.close()

Hello!

In [92]:
x = open(r"F:\Al-Nafi\Python\abc.txt","r")
data = x.readlines()
print(data)
x.close()

['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']

In [93]:
x = open(r"F:\Al-Nafi\Python\abc.txt","r")
for line in x:
    print(data)
x.close()

['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']
['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']
['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']
['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']
['Hello!\n', '\n', 'Zahid\n', '\n', 'Riaz']

In [94]:
x = open(r"F:\Al-Nafi\Python\abc.txt","r")
for line in x:
    print(line)
x.close()

Hello!



Zahid



Riaz

In [95]:
x = open(r"F:\Al-Nafi\Python\abc.txt","w")
x.write(" Abdul Hadi")
x.close()