In [1]:
# variable
x = 'bismillah'
y = 1
z = True

In [2]:
x

'bismillah'

In [3]:
print(x,y,z)

bismillah 1 True

In [4]:
a,b,c = 'azhar','zahid','Hadi'

In [5]:
print(a)
print(b)
print(c)

azhar
zahid
Hadi

In [6]:
print(a,b,c)

azhar zahid Hadi

In [7]:
l = m = n = 'orange'

In [8]:
print(l)
print(m)
print(n)

orange
orange
orange

In [9]:
l

'orange'

In [10]:
m

'orange'

In [11]:
a = b = c = 'azhar','zahid','Hadi'

In [12]:
print(a,b,c)

('azhar', 'zahid', 'Hadi') ('azhar', 'zahid', 'Hadi') ('azhar', 'zahid', 'Hadi')

In [13]:
p = 89
q = 'Hadi'
s = p + q

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
10/3

3.3333333333333335

In [15]:
10//3

3

In [19]:
4*2

8

In [18]:
4**2

16

In [20]:
21%3

0

In [22]:
23%3

2

In [23]:
d = 10

In [28]:
type(d)

int

In [30]:
e = "Hadi"
type(e)

str

In [31]:
f = False
type(f)

bool

In [32]:
g = 33.4421
type(g)

float

In [34]:
e.format(2)

'Hadi'

In [37]:
e.capitalize()

'Hadi'

In [1]:
# list
my_new_list = [x for x in range(10)]

In [2]:
my_new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_new_list[4]

4

In [4]:
len(my_new_list)

10

In [5]:
my_new_list.append(5) #add value

In [6]:
my_new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [7]:
my_new_list.insert(0,6)

In [8]:
my_new_list

[6, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [9]:
my_new_list.pop(5) #remove item

4

In [10]:
my_new_list

[6, 0, 1, 2, 3, 5, 6, 7, 8, 9, 5]

In [11]:
# Tuple
my_tup = ('joe',2,3.4)

In [12]:
my_tup

('joe', 2, 3.4)

In [13]:
my_tup[1]

2

In [14]:
len(my_tup)

3

In [15]:
# Set
my_set = set()

In [16]:
my_set

set()

In [17]:
my_set = {3,4,5,6}

In [18]:
my_set

{3, 4, 5, 6}

In [19]:
my_set.add(13)

In [20]:
my_set

{3, 4, 5, 6, 13}

In [21]:
len(my_set)

5

In [22]:
x = {1,2,3,4}
y = {3,1,5,6}
z = {7,8,9,0}

In [23]:
x.intersection(y)

{1, 3}

In [24]:
y.intersection(z)

set()

In [25]:
x.union(y)

{1, 2, 3, 4, 5, 6}

In [26]:
y.union(z)

{0, 1, 3, 5, 6, 7, 8, 9}

In [27]:
x.issubset(y)

False

In [28]:
x.issuperset(y)

False

In [29]:
a = {1,2,3,4,5,6}
b = {1,3,5}

In [30]:
a.issubset(b)

False

In [31]:
b.issubset(a)

True

In [32]:
a.issuperset(b)

True

In [33]:
y.isdisjoint(z)

True

In [34]:
my_dict = {key: value for key,value in [['banana',12],['apples',10],['orange',24]]}

In [35]:
my_dict

{'banana': 12, 'apples': 10, 'orange': 24}

In [36]:
my_dict = {x: y for x,y in [['banana',12],['apples',10],['orange',24]]}

In [37]:
my_dict

{'banana': 12, 'apples': 10, 'orange': 24}

In [38]:
my_dict['apples']

10

In [39]:
len(my_dict)

3

In [40]:
my_dict['peach'] = 15

In [41]:
my_dict

{'banana': 12, 'apples': 10, 'orange': 24, 'peach': 15}

In [42]:
new_dict = {'english':23,'urdu':34,'math':34}

In [43]:
new_dict

{'english': 23, 'urdu': 34, 'math': 34}

In [44]:
my_dict.update(new_dict)

In [45]:
my_dict

{'banana': 12,
 'apples': 10,
 'orange': 24,
 'peach': 15,
 'english': 23,
 'urdu': 34,
 'math': 34}

In [46]:
my_dict.pop('peach')

15

In [47]:
my_dict

{'banana': 12,
 'apples': 10,
 'orange': 24,
 'english': 23,
 'urdu': 34,
 'math': 34}

In [48]:
# if Else
num = 5
if num%2 == 0:
    print('even')
else:
    print('odd')

odd

In [49]:
numb = 6
if numb%2 == 0 and numb!= 0:
    print('even')
else:
    print('odd')

even

In [50]:
number = 0
if number%2 == 0 and number!= 0:
    print('even')
elif number%2 != 0:
    print('odd')
else:
    print('not even, not odd')

not even, not odd

In [51]:
# Loops
names = ['ahmad','ali','Hadi']

In [52]:
names

['ahmad', 'ali', 'Hadi']

In [53]:
range(3)

range(0, 3)

In [54]:
for x in range(len(names)):
    names[x] = 'Mr. ' + names[x]

In [55]:
names

['Mr. ahmad', 'Mr. ali', 'Mr. Hadi']

In [56]:
my_fruit = 'banana', 'apple','peach'
for fruit in my_fruit:
    print('i love', fruit)

i love banana
i love apple
i love peach

In [57]:
numbers = 1,2,3,4,5
for x in range(len(numbers)):
    print(x)

0
1
2
3
4

In [58]:
numbers = 1,2,3,4,5
for x in numbers:
    print(x)

1
2
3
4
5

In [59]:
len(numbers)

5

In [60]:
num = 11,12,13,14,15
for ind, x in enumerate(num):
    print('the number', x, 'is at', ind, 'index')

the number 11 is at 0 index
the number 12 is at 1 index
the number 13 is at 2 index
the number 14 is at 3 index
the number 15 is at 4 index

In [61]:
L = ['apples', 'bananas', 'oranges']
for idx, val in enumerate(L):
    print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [62]:
list(enumerate(['a', 'b', 'c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [66]:
# functions
def is_even_odd(number):
    if number%2 == 0 and number!= 0:
        print('even')
    elif number%2 != 0:
        print('odd')
    else:
        print('not even, not odd')

In [67]:
is_even_odd(5)

odd

In [68]:
is_even_odd(6)

even

In [69]:
is_even_odd(0)

not even, not odd

In [70]:
# Error
def check_type(year):
    assert type(year) == int, 'type of year is not integer'
    print('year type is valid')
    print('sucessful')
    return True

In [71]:
check_type(2020)

year type is valid
sucessful

True

In [74]:
check_type(20.20)

AssertionError: type of year is not integer

In [76]:
def check_type(year):
    try:
        assert type(year) == int
    except AssertionError: 
        print('year type is valid')
        return False
    return True

In [77]:
print(check_type(year = 2020.21))

year type is valid
False

In [78]:
print(check_type(year = 2020))

True

In [79]:
3/0

ZeroDivisionError: division by zero

In [80]:
divisor = 0
try: 
    value = 20/divisor
except ZeroDivisionError:
    print('divisor was zero')

divisor was zero

In [81]:
list = 1,2,3,4
print('the lenght of list is:', len(list))
print('code has executed')
list[4]

the lenght of list is: 4
code has executed

IndexError: tuple index out of range

In [82]:
try:
    list[4]
except IndexError:
    print('index is valid')
print('code executed')

index is valid
code executed

In [83]:
class fruit:
    """class is define for fruit,
    to create object of this class"""
    def _inti_(self,name,nutrient):
        try:
            assert type(nutrient) == list
        except AssertionError:
            print('invalid construction')
            raise Exception
            self.name = 'name'
            self.nutrient = 'nutrient'
            self.is_ripe = False
    def get_name(self):
        return self.name
    def get_nutrient(self):
        print(self.name + 'has following nutrient')
        for value in sef.nutrient:
            print(value)
    def check_ripeness(self):
        return self.is_ripe
    def ripen_fruit(self):
        self.is_ripe = True

In [84]:
apple = fruit(name ='Apple',nutrient = ['vitamin A','vitamin D'])
banana = fruit(name ='Banana',nutrient = ['potassium','calcium'])

TypeError: fruit() takes no arguments

In [91]:
# CSV files
import csv
file = "F:\Al-Nafi\python\scores.csv"
data = [('zahid',200),('HAdi',300),('Ahmad',400)]
writer = csv.writer(open(file,'w',newline=''))

for row in data:
    writer.writerow(row)

In [90]:
import csv
file = "F:\Al-Nafi\python\scores.csv"
reader = csv.reader(open(file,'r'))

for row in reader:
    print(row)

['zahid', '200']
['HAdi', '300']
['Ahmad', '400']

In [92]:
data = []

In [93]:
# read write files
f = open(r"F:\Al-Nafi\Python\textfile.txt","r")

In [94]:
f = open(r'F:\Al-Nafi\Python\textfile.txt','r')
for row in f:
    data.append(row)
f.close()

In [95]:
data

['1\n', '2\n', '3\n', '4\n', '5\n', 'zahid']

In [97]:
f = open(r'F:\Al-Nafi\Python\textfile.txt','r')
for row in f:
    r = row.strip('\n')
    data.append(r)
f.close()

In [98]:
data

['1\n',
 '2\n',
 '3\n',
 '4\n',
 '5\n',
 'zahid',
 '1',
 '2',
 '3',
 '4',
 '5',
 'zahid',
 '1',
 '2',
 '3',
 '4',
 '5',
 'zahid']

In [99]:
write_data = 'alpha','beta','gamma'
with open('greekletters.text','w') as g:
    for value in write_data:
        g.write(value)
        g.write('\n')
g.close()

In [100]:
write_data

('alpha', 'beta', 'gamma')

In [103]:
write_data1 = 'zeta','eta','theta'
with open('greekletters1.text','w') as h:
    for ind, value in enumerate(write_data1):
        h.write(value)
        h.write(ind)
        h.write('\n')
h.close()

TypeError: write() argument must be str, not int

In [104]:
filename = 'temp.csv'
observation = []
count = 0
with open(r'F:\Al-Nafi\Python\temp.csv', 'r') as tempfile:
    next(tempfile)
    for row in tempfile:
        observation .append(row.strip('\n'))
        count += 1
print('total count of row is:',count)

total count of row is: 19